@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-6: 311 100% 50%;
    --chart-7: 251 100% 87%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-6: 311 100% 50%;
    --chart-7: 251 100% 87%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --border_img_edit: 10px;
  --color1_img_edit: #6be89b;
  --color2_img_edit: #0076a5;
  --from_img_edit: 30deg;
  --distance_img_edit: 40%;
}

.shadowFilter {
  filter: drop-shadow(2px 2px 5px #040404);
}

.shadowText {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

img {
  aspect-ratio: 2/calc(2 + var(--dir));
}

.border1 {
  background: linear-gradient(purple, darkorange) round border-box;
}

.border2 {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 50%, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, 0.13) 50%, transparent 0), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.17) 0), linear-gradient(90deg, transparent 50%, rgba(255, 255, 255, 0.19) 0), linear-gradient(#ff8a00, #da1b60);
  background-size: 13px, 29px, 37px, 53px, 100%;
}

.border3 {
  position: relative;
}

.border3::after {
  content: '';
  border-radius: 999px;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  background: conic-gradient(from var(--from_img_edit),
      var(--color1_img_edit),
      var(--color2_img_edit) var(--distance_img_edit),
      transparent var(--distance_img_edit));
  -webkit-mask: radial-gradient(farthest-side,
      transparent calc(100% - var(--border_img_edit)),
      #fff calc(100% - var(--border_img_edit) + 1px));
  mask: radial-gradient(farthest-side,
      transparent calc(100% - var(--border_img_edit)),
      #fff calc(100% - var(--border_img_edit) + 1px));
}

.border4 {
  border-color: black;
  border-style: dashed;
}

.border5 {
  border-color: black;
  border-style: double;
}

.border6 {
  border-color: black;
  border-style: groove;
}

.background1 {
  background-size: 1.875em 1.875em;
  --sl: 29.2893218813%,
    currentcolor calc(21.966991411% + -.5px),
    transparent calc(21.966991411% + .5px);
  background-image: radial-gradient(circle at 34.466991411% var(--sl)), conic-gradient(from -45deg at 50% 31.066017178%, currentcolor 90deg, transparent 0%), radial-gradient(circle at 65.533008589% var(--sl));
  background-position: 0 0.28125em, 0 calc(1.1216686963em + -1px);
  color: #da1b60;
}

.background2 {
  background-size: 1.875em 1.875em;
  --sl: currentcolor 36deg, transparent 0%;
  background-image: conic-gradient(from 18deg at 27.958053039% 41.9262745781%, var(--sl)), conic-gradient(from 162deg at 50% 62.5%, var(--sl)), conic-gradient(from -54deg at 72.041946961% 41.9262745781%, var(--sl));
  background-position: 0 0.7202224258em, 0 0.9375em;
  color: gold;
}